# Logs
logs
*.log
*~
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

Comments
Saves
Saves_1
Saves_bin
Scripts
Users
vid
